/* Semua tag */
/* * {
  border: 2px solid purple;
} */

body {
  background-color: blanchedalmond;
}

html {
  scroll-behavior: smooth;
}

/* Group Selector */
/* Semua tag 'h2', semua tag 'p', dan semua yang memiliki class lorem */
h2,
p,
.lorem {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: capitalize;
  color: rebeccapurple;
}

/* Descendent Selector */
/* Semua tag 'p' yang ada di dalam tag 'div' */
div p {
  text-decoration: underline;
}

/* Semua tag strong yg ada didalam paragraf, dimana paragraf tsb ada didalam div */
div p strong {
  color: rgb(255, 0, 234);
}

/* Element Specific Selector */

/* ID */
#hello {
  font-size: 20px;
}

/* Class */
.hello {
  font-size: 25px;
}

/* Tag paragraf yang memiliki id = 'hello' */
p#hello {
  font-family: "Times New Roman";
}

/* Tag img yang memiliki class = 'box-image' */
img.box-image {
  width: 70px;
}

/* Child Selector */
/* Semua tag p yang merupakan child dari tag div */
div > p {
  text-decoration: line-through;
  font-weight: bold;
}

.note {
  color: black;
  text-align: center;
}

/* Saat element dengan class note di hover (di tunjuk cursor) */
.note:hover {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.box {
  width: 100px;
  height: 100px;
  font: 20px;
  text-align: center;
  line-height: 100px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.ease {
  background-color: royalblue;
  /* property yang akan mengalami transition */
  /* transition-property: width; */
  /* durasi transisi */
  /* transition-duration: 2s; */
  /* lambat - cepat - lambat */
  /* transition-timing-function: ease; */
}

.ease-in {
  background-color: salmon;
  /* transition-property: width; */
  /* transition-duration: 2s; */
  /* lambat - cepat */
  /* transition-timing-function: ease-in; */
}
.ease-out {
  background-color: brown;
  /* cepat - lambat */
  /* transition: width 2s ease-out; */
}
.linear {
  background-color: cadetblue;
  /* flat */
  /* transition: width 2s linear; */
}

.box-container {
  background-color: cornsilk;
}

.box-container:hover div {
  /* width: 100%; */
  /* Jika ditulis disini maka saat kembali ke keadaan semula tidak mengalami transisi */
  /* transition: width 2s ease-in; */
}

.border-radius {
  border: 3px solid cadetblue;
  border-radius: 5px;
  width: 100px;
  /* auto : menggunakan seluruh space yang tersedia */
  margin: 0 auto;
}
